In [2]:
#import the datetime module.
from datetime import datetime

#From the datetime module, use the datetime class.
#Call the now() method of the datetime class, which returns the current local date and time as a datetime object.
today=datetime.now()

print(today)
print(type(today))

2024-09-03 20:15:11.035476
<class 'datetime.datetime'>

In [3]:
today.year

2024

In [4]:
today.month

9

In [5]:
today.day

3

In [6]:
today.hour,today.minute,today.second

(20, 15, 11)

In [7]:
#create date object
from datetime import date
today_date =date.today()
print(today_date)
print(type(today_date))

2024-09-03
<class 'datetime.date'>

In [8]:
today_date.year,today_date.month,today_date.day

(2024, 9, 3)

In [9]:
#create time object
from datetime import time
current_time =datetime.now().time()
print(current_time) #prints time in HH:MM:SS.microseconds format
print(type(current_time))

20:15:12.091119
<class 'datetime.time'>

In [10]:
current_time.hour,current_time.minute,current_time.second,current_time.microsecond

(20, 15, 12, 91119)

In [11]:
#initialize datetime object with specific date
dob=date(year=2000, month=11, day=23)
print(dob)

2000-11-23

In [12]:
#initialize datetime object with specific date and time
dob=datetime(year=2000, month=11, day=23,hour=23,minute=44,second=55,microsecond=765767)
print(dob)

2000-11-23 23:44:55.765767

In [13]:
current_date=datetime.now()
print(current_date)

2024-09-03 20:15:12.802243

In [14]:
# Calculate the difference
difference = current_date - dob

# Print the difference
print("Difference:", difference)

Difference: 8684 days, 20:30:17.036476

In [15]:
type(difference)

datetime.timedelta

In [16]:
difference.days,difference.seconds

(8684, 73817)

In [28]:
#The strftime function in Python is used to format datetime objects into strings according to a specified format.
current_date=datetime.now()
print("default format-> ",current_date)

# Examples of different strftime formats
print(current_date.strftime("%Y/%m/%d %H:%M:%S"))  # 2024-08-09 15:30:45
print(current_date.strftime("%A, %B %d, %Y"))      # Friday, August 09, 2024
print(current_date.strftime("%I:%M %p"))           # 03:30 PM
print(current_date.strftime("%x %X"))              # 08/09/24 15:30:45

default format->  2024-09-03 20:17:57.142945
2024/09/03 20:17:57
Tuesday, September 03, 2024
08:17 PM
09/03/24 20:17:57

Date Format Codes:

%Y: Year with century as a decimal number. Example: 2024

%y: Year without century as a zero-padded decimal number. Example: 24

%m: Month as a zero-padded decimal number. Example: 08 (August)

%B: Full month name. Example: August

%b: Abbreviated month name. Example: Aug

%d: Day of the month as a zero-padded decimal number. Example: 09

%A: Full weekday name. Example: Friday

%a: Abbreviated weekday name. Example: Fri

%w: Weekday as a decimal number, where Sunday is 0. Example: 5

%j: Day of the year as a zero-padded decimal number. Example: 222

%U: Week number of the year (Sunday as the first day of the week) as a zero-padded decimal number. Example: 32

%W: Week number of the year (Monday as the first day of the week) as a zero-padded decimal number. Example: 32

Time Format Codes:

%H: Hour (24-hour clock) as a zero-padded decimal number. Example: 15

%I: Hour (12-hour clock) as a zero-padded decimal number. Example: 03

%p: AM or PM. Example: PM

%M: Minute as a zero-padded decimal number. Example: 30

%S: Second as a zero-padded decimal number. Example: 45

%f: Microsecond as a zero-padded decimal number. Example: 123456

%z: UTC offset in the form +HHMM or -HHMM. Example: +0530

%Z: Time zone name. Example: UTC